body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

#gameBoard {
    position: relative;
    width: 480px;  /* 包括完整的边界 */
    height: 480px; /* 包括完整的边界 */
    background-color: #f4c542;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cell {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    box-sizing: border-box;
}

.intersection {
    position: absolute;
    width: 10px;  /* 提供足够的区域接收点击事件 */
    height: 10px; /* 同上 */
    cursor: pointer;
    box-sizing: border-box;
    transform: translate(-50%, -50%); /* 确保中心对齐到网格交点 */
}

.intersection:hover::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 保持在交点的正中心 */
}

.black-hover::before, .black:hover::before {
    background-color: rgba(0, 0, 0, 0.3); /* 黑色半透明虚影 */
}

.white-hover::before, .white:hover::before {
    background-color: rgba(255, 255, 255, 0.3); /* 白色半透明虚影 */
    border: 1px solid #333; /* 如果需要可以加一个边框以增强可见性 */
}

.black, .white {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transform: translate(-12px, -12px); /* 同样调整为直接向上和向左移动半个直径 */
}

.black {
    background-color: black;
}

.white {
    background-color: white;
    border: 1px solid #333;
}

#timerDisplay {
    font-size: 18px;
    color: #333;
    margin: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
}
